/* This file defines your dark mode. */

// A dark, warm gray for the background
$dark-background: #2b2b2b;

// A light gray for text
$dark-text: #e0e0e0;

// A slightly darker gray for code, borders, etc.
$dark-secondary: #333333;
$dark-border: #444444;

/* Apply the colors */
body,
#main {
  background-color: $dark-background;
  color: $dark-text;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; // Make headers pure white
}

.page__content {
  p, li, dl {
    color: $dark-text;
  }
}

a {
  color: $info-color;
}

a:visited {
   color: mix(#000, $link-color, 25%);
}

pre,
code {
  background-color: $dark-secondary;
  color: $dark-text;
}

th,
td,
hr {
  border-color: $dark-border;
}