---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <!-- Load Poppins font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Main Content Area -->
    <div class="container">
      <h1>I'm <span id="typing-effect"></span></h1> <!-- Typing effect added here -->
    </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- Load typed.js library from the CDN -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- Initialize typing effect -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var typed = new Typed('#typing-effect', {
          strings: ["a Student", "a Researcher", "an Engineer", "a Data Scientist"],
          typeSpeed: 50,
          backSpeed: 50,
          loop: true
        });
      });
    </script>

  </body>
</html>
