---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <!-- Load Poppins font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Main Content Area -->
    <div class="container">
      <h1>Hello there! 👩🏻‍💻</h1>
      <div id="typing-effect"></div> <!-- Typing effect on a new line -->
    </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- Load typed.js library from the CDN -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- Initialize typing effect -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var typed = new Typed('#typing-effect', {
          strings: ["I'm Coding", "I'm Learning", "I'm Creating"],
          typeSpeed: 40,
          backSpeed: 40,
          loop: true
        });
      });
    </script>

  </body>
</html>
